################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/past_weather_data
/past_data.txt
/.vs
/passwords.py
/last_saved.pt
/rain_forcast.txt
